.tovars-form-karte {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}

.tovars-oform-zakaz {
    border: none;
    background-color: #1cb921;
    color: #e4f875;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 2px;
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 6px;
}

.tovars-oform-zakaz:hover {
    background-color: #26e22d;
    color: #e4f875;
}

tr {
    background: #c4faa0; 

}

body {
    background:#71ffd0d8;
    max-width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* ПОЛЕ ВВОДА В ПОИСКОВИКЕ */
#srh {
    background-color: #f2fd8d;
    padding: 8px;
    padding-right: 150px;
    margin-right: 25px;
    margin-left: 10px;
    border-radius: 10px;
}
/* ПОЛЕ ВВОДА В ПОИСКОВИКЕ ПРИ ВВОДЕ */
#srh:active {
    background-color: #f2fd8d;
    padding: 8px;
    padding-right: 150px;
    margin-right: 25px;
    margin-left: 10px;
    border-radius: 10px;
}


/* КНОПКА НАЙТИ */
.menu-search-submit {
    border: none;
    background-color: #1cb921;
    color: #e4f875;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 2px;
    margin-top: 5px;
    margin-left: 1px;
    border-radius: 6px;
}

/* КНОПКА НАЙТИ ПРИ НАВЕДЕНИИ */
.menu-search-submit:hover {
    background-color: #26e22d;
    color: #e4f875;
}

#tovars {
    background-color: #80ff00cb;
    border-radius: 10px;
}

/* ПОЗИЦИЯ КАРТИНОК В ТОВАРАХ */
#bg {
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* Текст про разницу между сушкой и сублимацией */
    /* Размер внутреннего поля объекта */
h2.privet-container2 {
    margin: 10px;
}

/* ПРИВЕТСТВЕННЫЙ ТЕКСТ НА ПАРАДНОЙ */
    /* ЗАГЛАВИЕ */
div.privet-container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    font: 600; /* Жирность текста работает не для всех font-family */
    font-family: fantasy;
    font-size: 260%;
    color: #0621bbef;
}
    /* Размер внутреннего поля объекта */
p.privet-opis2 {
    margin: 10px;
}
    /* ОПИСАНИЕ */
div.privet-opis {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    font-family: fantasy;
    font-size: 210%;
    font:600; /* Жирность текста работает не для всех font-family */
    color:#9e1c38f3;
}  /* Текст про разницу между сушкой и сублимацией END */