/* ОБЩИЙ КОНТЕЙНЕР, В КОТОРОМ ЛЕЖАТ ВСЕ ОБЪЕКТЫ МЕНЮ */
/* Внешний контейнер для элемента меню for menu.html in menu.css */
.menu-div-nav {
    background-image: linear-gradient(to bottom, #d7ffaa, #d7ffaa, #d7ffaa);
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    padding-bottom: 5px;
    z-index: 7; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
}
/* Область кнопок меню for menu.html in menu.css */
ul.nav {
    text-align: center;
    padding-bottom: 50px;
}

/* Внешние параметры кнопок меню for menu.html in menu.css */
.nav li {
    background-color: #3d8836e8;
    display: inline;
    padding: 8px;
    width: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow, color, 0.3s ease-in-out;
    box-shadow: 5px -5px 10px 0px #3d8836e8;
}
/* Текстовая часть горизонтального меню for menu.html in menu.css */
.nav li a {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
/* Текстовая часть горизонтального меню for menu.html in menu.css */
.nav li:hover {
    transition: box-shadow, color, 0.3s ease-in-out;
    box-shadow: 5px -5px 10px 0px #1cb921;
}
/* Текстовая часть горизонтального меню при отведении курсора for menu.html in menu.css */
.nav li:not(hover) {
    transition: box-shadow, color, 0.3s ease-in-out;
    box-shadow: 5px -5px 10px 0px #3d8836e8;
}
/* Текстовая часть горизонтального меню при клике мышью for menu.html in menu.css */
.nav li:active {
    transition: box-shadow, color, 0.051s ease-in-out;
    box-shadow: 5px -5px 10px 5px #e6fd61e8;
    padding: 7px;
}


                            /* ОПРЕДЕЛИТЬ НУЖНОСТЬ */
.nav {
    padding: 0%;
}



