/* Кнопка для выпадающего меню категорий = for tovars.html in menu_category.css*/
.tovars-form-category {
    background-image: linear-gradient(to bottom, #d7ffaaf3, #d7ffaad5, #d7ffaaab, #d7ffaa21);
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    z-index: 8; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
    color: none;
    padding-bottom: 30px;
}
/* ПОЛЕ ВЫБОРА КАТЕГОРИЙ ТОВАРОВ */

.tovars-menu-div-select-category {
    text-align: center;
    border-radius: 25px;
    font-family: Open Sans Condensed, sans-serif;
    color: none;
    padding: 5px;
    font-size: 25px;
    border: none;
    right: 50px;
}

.tovars-menu-select-category {
    text-align: left;
    font-family: Open Sans Condensed, sans-serif;
    background-color: #1cb921;
    transition: background-color 1s ease-in-out;
    color: #e4f875;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    border-color: #adff2f;
    border-radius: 25px;
}
/* КНОПКА КАТЕГОРИЙ ТОВАРОВ ПРИ НАВЕДЕНИИ КУРСОРА */
.tovars-menu-select-category:hover {
    transition: box-shadow, color, 0.3s ease-in-out;
    box-shadow: 5px -5px 10px 0px #105215be;
    color: #adff2f;
    border-color: #466911;
    border-radius: 25px;
}
/* КНОПКА КАТЕГОРИЙ ТОВАРОВ ПРИ ОТВЕДЕНИИ КУРСОРА */
.tovars-menu-select-category:not(hover) {
    transition: box-shadow, color, 0.3s ease-in-out;
    box-shadow: 5px -5px 10px 0px #1cb921;
    border-radius: 25px;
}

/* ПОЛЕ ВЫПАДАБЩЕГО МЕНЮ КАТЕГОРИИ */

/* Фон выпадающего меню Категории */
.menu-option-selected_slug {
    background-color: #439b5eb6;
    border-radius: 25px;
}

.menu-option-selected_slug:hover {
    color: #d82727ce;
}