                    /* ПОИСКОВАЯ СИСТЕМА ВНЕШНИЕ ОБОЛОЧКИ */
/* Поле, где лежит вся поисковая система = for menu.html in search.css */
.menu-search-all {
  text-align: center;
  margin: auto;
  padding-top: 2px;
}
/* Поле в котором лежит поле "menu-div-field-search" = for menu.html in search.css */
.menu-form-search {
  display: inline;
  text-align: center; /* Центрует форму по центру */
  margin: 5px;
}
/* Поле в котором лежит поле "menu-div-search-submit" = for menu.html in search.css */
.menu-form-submit {
  display:inline-block;
  text-align: center; /* Центрует форму по центру */
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 5px;
}
/* Область где находятся поисковое поле "menu-input-field-text-search" = for menu.html in search.css */
.menu-div-field-search {
  display: inline-flex; /* заставляет прижиматься и обтекать содержимое */
  background-color: #55976083;
  box-shadow: 0 0 5px 3px #55976083;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-right: 2px;
  margin-top: 2px;
  border-radius: 8px;
}


                    /* ОБЛАСТЬ ВВОДА И КНОПКА НАЙТИ ВНУТРЕННЯЯ ЧАСТЬ */
/* ОБЛАСТЬ ВВОДА ТЕКСТА В ПОИСКОВИКЕ = for menu.html in search.css */
.menu-input-field-text-search[type="text"] {
  background-color: #f2fd8d;
  width: 45ch;  /* Задаёт количество символов, видимых от края до края в поле ввода */
  padding-top: 7px;
  padding-bottom: 5.5px;
  margin: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
/* ПОЛЕ ВВОДА В ПОИСКОВИКЕ ПРИ ВВОДЕ = for menu.html in search.css */
.menu-input-field-text-search[type="text"]:active {
  background-color: #f2fd8d;
  width: 45ch;  /* Задаёт количество символов, видимых от края до края в в поле ввода */
  padding-top: 3px;
  padding-bottom: 6px;
  margin: 8px;
  border-radius: 10px;
}


/* ОБОЛОЧКА ВОКРУГ КНОПКИ НАЙТИ = for menu.html in search.css */
.menu-div-search-submit {
  background-color: #55976083;
  box-shadow: 0 0 4px 5px #55976083;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-right: 1px;
  margin-top: 3px;
  margin-left: 12px;
  border-radius: 8px;
}
/* ТЕЛО КНОПКИ НАЙТИ = for menu.html in search.css */
.menu-search-submit[type="submit"] {
  width: auto;  /* Задаёт количество символов, видимых от края до края в поле ввода */
  text-align: center;
  box-shadow: -2px -2px 5px 5px #55976083;
  display: inline;
  border: none;
  background-color: #1cb921;
  color: #e4f875;
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}
/* КНОПКА НАЙТИ ПРИ НАВЕДЕНИИ КУРСОРА = for menu.html in search.css */
.menu-search-submit:hover {
  box-shadow: -2px -2px 5px 5px #4bb95dcb;
  background-color: #1cb921;
  color: #fdfff0e5;
  transition: box-shadow, color, 0.3s ease-in-out;
}
/* КНОПКА НАЙТИ ПРИ ОТВЕДЕНИИ КУРСОРА = for menu.html in search.css */
.menu-search-submit:not(hover) {
  transition: box-shadow, color, 0.3s ease-in-out;
}
/* КНОПКА НАЙТИ КЛИКЕ КУРСОРА = for menu.html in search.css */
.menu-search-submit:active {
  transition: box-shadow, 0.1s ease-in-out;
  font-size: 30px;
}