

/* ЛНОПКА ЗАКАЗАТЬ В МАГАЗИНЕ */
/* Параметры кнопки заказать for tovars.html in tovars.css */
.tovars-cart-zakaz {
  background-color: #ffa5dd;
  font-weight: 600;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
  font-size: 24px;
  margin-top: 20px;
  float: right;
  width: 230px;
  text-align: center;
  height: 45px;
  border: 5px solid;
  border-color:#dd0b51;
  color: #dd0b51;
  box-shadow: 0 0 5px 10px #dd0b51;
}
/* Параметры кнопки заказать при наведении курсора for tovars.html in tovars.css */
.tovars-cart-zakaz:hover {
  background-color: #e0b7f3f5;
  color:#a66be9;
  border: 5px solid ;
  height: 45px;
  box-shadow: 0 0 5px 8px #a66be9;
  transition: box-shadow, color, 0.2s ease-in-out;
}
/* Параметры кнопки заказать при отведении курсора for tovars.html in tovars.css */
.tovars-cart-zakaz:not(hover) {
  transition: box-shadow, color, 0.2s ease-in-out;
}