/* GRID-контейнер для формы КАРТОЧЕК С ТОВАРАМИ */
.tovars-div-grid-general {
  grid-gap: 10px;
  grid-auto-rows: 200px;
  padding: 30px;
}
/* GRID-контейнер для формы ПАГИНАЦИИ */
.tovars-div-grid-paginator {
  display: grid;
  grid-row-gap: 200px;
  grid-row-gap: 10px;
  align-content: end;
  grid-template-rows: repeat(1, 60%);
  gap: 20px;
  grid-column-start: 2;
  justify-self: center;
}
/* GRID-контейнер для кнопки ЗАКАЗАТЬ */
.tovars-div-grid-zakaz {
  display: grid;
  grid-row-gap: 10px;
  align-content: center;
  grid-row-gap: 200px;
  grid-template-rows: repeat(1, 60%);
  gap: 20px;
  grid-area: 1 / 2;
  justify-self: center;
}

/* Форма со всем содержимым  */
.tovars-form-karte {
  grid-row-gap: 200%;
}

/* ОБЛАСТЬ ОТОБРАЖЕНИЯ ТОВАРОВ */
/* Внешняя оболочка */
.tovars-div-general {
  display: grid;
  width: 70%; /* Ширина карточки */
  /*height: 720px; /* Промежуток между карточками */
  align-content: start;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 3%;
  transition: 300ms;
  row-gap: 20px;
  border-spacing: 8 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 70px;
  border-radius: 100px;
  text-align: right;
  margin: 0 auto;
}
/* Зона фото for tavars.html in tavars.css */
.tovars-div-img {
  z-index: 3; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  text-align: center;
  display: block;
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  box-shadow: 0 0 4px 5px #91cc6fa8;
  margin-left: 10%;
  margin-right: 10%;
}

/* КОНТЕНТ КАРТОЧЕК */
/* Общее поле карточки товара for tavars.html in tavars.css */
.tovars-div-product_card {
  z-index: 4; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  display: block;
  overflow: hidden;
  height: 820px; /* Длинна карточки в контенте */
  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  background: #d6f88765;
  border: 1px;
  border-bottom: 5px solid #f2f8f8b0;
  opacity: 1;
  border-radius: 50px;
  box-shadow: 0 0 5px 10px #1cb921a9;
}

/* Наименование товара for tavars.html in tavars.css */
.tovars-div-namegood {
  font-size: 25px;
  color: #661140;
  font-weight: 800;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: #f2f8f8bd;
  border-bottom: 5px solid #f2f8f83a;
  opacity: 0.8;
  border-radius: 15px;
}
/* Поле для описания товара for tavars.html in tavars.css */
.tovsrs-div-content {
  text-align: justify;
  text-indent: 20px;
  overflow-y: scroll;
  height: 25%;
  font-weight: 400;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: #f2f8f8cc;
  border: none;
  border-bottom: 50px solid #f2f8f83a;
  opacity: 0.6;
  border-radius: 15px;
}
/* Поле для спецификации for tavars.html in tavars.css */
.tovsrs-div-specification {
  z-index: 4; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  font-weight: bold;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: #f2f8f8cc;
  border: none;
  border-bottom: 5px solid #f2f8f83a;
  opacity: 0.6;
  border-radius: 15px;
}
/* Поле для цены for tavars.html in tavars.css */
.tovsrs-div-price {
  z-index: 4; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  font-size: 35px;
  font-weight: 900;
  color:#661140;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: #f2f8f8cc;
  border: none;
  border-bottom: 5px solid #f2f8f83a;
  opacity: 0.6;
  border-radius: 15px;
}
/* Подпись "КАТЕГОРИЯ" перед названием категории for tavars.html in tavars.css */
.tovars-name-ceteg {
  z-index: 4; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  display:inline-block;
  color:#2e5f21da;
  font-size: 18px;
}
/* Поле для категории for tavars.html in tavars.css */
.tovers-div-category {
  z-index: 4; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
  background: #f2f8f8b4;
  border: none;
  border-radius: 10px;
  border-bottom: 5px solid #f2f8f83a;
  opacity: 0.7;
}
/* Поле для номера и кнопки в корзину for tavars.html in tavars.css */
.tovers-blick-inputs {
  z-index: 6; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  font-weight: bold;
  padding: 2px;
  border: none;
  border-bottom: 0px solid #f2f8f83a;
  opacity: 0.8;
}
/* Поле для ввода количества товаров for tavars.html in tavars.css */
.tovars-input-number {
  z-index: 1; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  display:inline-flexbox;
  background-color: #fae99ce1;
  border-color: #b1bb5c;
  border-radius: 10px;
  width: 10ch;
  height: 32px;
	line-height: 32px;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
/* кнопка в корзину for tavars.html in tavars.css */
.tovars-div-input-button {
  background-color: #b1e71df1;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 32px;

}
/* кнопка в корзину при наведении курсора for tavars.html in tavars.css */
.tovars-div-input-button:hover {
transition: box-shadow, color, 0.051s ease-in-out;
background-color: #cdf55ff1;
border-radius: 10px;
}
/* Поле для  пагинации при наведении курсора for tavars.html in tavars.css */
.tovars-div-input-button:hover {
  transition: box-shadow, color, 0.051s ease-in-out;
  background-color: #9cc439f1;
  border-radius: 10px;
  }

/* Поле для пагинации for tavars.html in tavars.css */
.tovars-div-paginator {
  text-align: center; /* Позиция текста смещение по горизонтали */
  align-self: end; /* Позиция смещения по вертикали */
  justify-self: center; /* Позиция смещения по горизонтали */
  font-size: 50px;
  border-radius: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}
/* Текст для обозначения страниц */
.tovars-span-paginator {
  z-index: 3; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  background: radial-gradient(#8fff4493, #e9ff20b4);
  box-shadow: 0 0 15px 20px #e9ff20b4;
  margin: 3%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
/* Кнопки переключения страниц */
.tovars-a-paginator {
  z-index: 5; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  background-color: #0daf35a6;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 0 5px 10px #1cb921a9;
  border-color:#1cb921a9;
}
/* Кнопки переключения страниц при наведении*/
.tovars-a-paginator:hover {
  box-shadow: 0 0 5px 10px #1cb921c9;
  background-color: #20a064cc;
}
/* Кнопки переключения страниц при клике мыши*/
.tovars-a-paginator:active {
  background-color: #c1c420da;
  box-shadow: 0 0 6px 10px #e5f509ce;
  transition: box-shadow, color, 0.1s ease-in-out;
}

/* КНОПКА ЗАКАЗАТЬ В МАГАЗИНЕ */
/* Параметры кнопки заказать for tovars.html in tovars.css end search.css */
.tovars-cart-zakaz {
  z-index: 5; /* определяет порядок наложения элементов в трёхмерном пространстве на веб-странице. */
  background-color: #d7f8d8c7;
  font-weight: 600;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
  font-size: 24px;
  margin-top: 20px;
  float: right;
  width: 230px;
  text-align: center;
  align-self: end;
  justify-self: center;
  height: 45px;
  border: 5px solid;
  border-radius: 50px;
  border-color:#1cb921a9;
  color: #1aac1f;
  box-shadow: 0 0 5px 10px #1cb921a9;
  cursor: pointer;
}
/* Параметры кнопки заказать при наведении курсора for tovars.html in tovars.css */
.tovars-cart-zakaz:hover {
  background-color: #cffd85e1;
  color:#aab41c;
  border: 5px solid ;
  height: 45px;
  box-shadow: 0 0 5px 8px #aab41c;
  transition: box-shadow, color, 0.2s ease-in-out;
}
/* Параметры кнопки заказать при отведении курсора for tovars.html in tovars.css */
.tovars-cart-zakaz:not(hover) {
  transition: box-shadow, color, 0.2s ease-in-out;
}
