{% extends 'main/header_footer.html' %}
{% block content %}
<title>{% block title %}Корзина{% endblock %}</title>
{% include 'main/menu.html' %}  <!--Отображает параметры из menu.html и header_footer.html-->
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/body.css' %}">
<script src="{% static 'main/js/cart.js' %}"> </script>

<form>
    <table border="1">
        {% for zakaz in cart_form_auto_gen %}
        <tr>
            <th><img width="50px" height="50px" src="/media/{{zakaz.picture}}" ></th>
            </th>
            <th width="50px" height="50px">{{zakaz.namegood}}</th>
            <th width="50px" height="50px">{{zakaz.price}}</th>
            <th width="50px" height="50px">{{zakaz.kolvo}}</th>
            <th width="50px" height="50px">{{zakaz.summa}}</th>
        </tr>
        {% endfor %}
    </table>
</form>
<p>
</p>
<input id="zkz" type="submit" value="Оформить заказ">
{% endblock %}