{% extends 'main/header_footer.html' %}

{% block content %}
{% include 'main/menu.html' %}  <!--Отображает параметры из menu.html и header_footer.html-->

{% load static %}
<html lang="ru">
    <meta charset="UTF-8">
<title>{% block title %}Главная страница{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'main/css/body.css' %}">
<link rel="shortcut icon" type="image/ico" href="{% static 'img/xmas_icon_260233.ico' %}"/>
<script src="{% static 'main/js/body.js' %}"></script>
    <h1>ПОЛЕ ДЛЯ ОТОБРАЖЕНИЯ КАРТОЧЕК С ТОВАРАМИ!</h1> <!--Отображается корректно, только на главной странице-->
    
{% endblock %}