{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/xmas_icon_260233.ico' %}" >

<link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
<title>{% block title %}Меню{% endblock %}</title>
<div>    
    <form action={% url 'search' %} method="post">
    {% csrf_token %}
        <li class="search"><input id="srh" name="poisk" type="text">   <!--Поле для ввода поисковых запросов-->
        {{ good_form_auto_gen }}
        <input type='submit' value='Найти'>
        </li>
    </form>
</div>


<div id="mainmenu">
    <ul class="nav">
        {% for nav in topnavset %}
        {% if nav.active %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}
            <a href="{{nav.url}}">{{nav.text}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<!---->
<div>
    <ul class="nav">
        {% for nav in navset %}
        {% if nav.active %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}
            <a href="{{nav.url}}">{{nav.text}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <ul class="left">
        {% for nav in leftmenu %}
        {% if nav.active %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}
            <a href="{{nav.url}}">{{nav.text}}</a>
        </li>
        {% endfor %}
    </ul>
</div>