{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/xmas_icon_260233.ico' %}" >

<link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
<title>{% block title %}Меню{% endblock %}</title>
<div>    
    <form action={% url 'search' %} method="post">
    {% csrf_token %}
        <p class="search"><input id="srh" name="poisk" type="text">   <!--Поле для ввода поисковых запросов-->
        {{ good_form_auto_gen }}
        <input class="menu-search-submit" type='submit' value='Найти'>
        </p>
    </form>
</div>

<!--
    Меню в разработке для регистрации и личного кабинета
<div class="mainmenu">
    <ul class="mainmenu">
        {% for nav in topnavset %}
        {% if nav.active %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}
            <a href="{{nav.url}}">{{nav.text}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
<!-- -->
<div>
    <ul class="nav">
        {% for nav in navset %}
        {% if nav.active %}
        <li class="active">
            {% else %}
        <li>
            {% endif %}
            <a href="{{nav.url}}">{{nav.text}}</a>
        </li>
        {% endfor %}
    </ul>
</div>