{% extends 'main/header_footer.html' %}

{% block content %}
<title>{% block title %}Приветствие{% endblock %}</title>
{% include 'main/menu.html' %}  <!--Отображает параметры из menu.html и header_footer.html-->
{{topnavset}}
{% load static %}
<html lang="ru">
    <meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'main/css/body.css' %}">
<link rel="shortcut icon" type="image/ico" href="{% static 'img/xmas_icon_260233.ico' %}"/>
<script src="{% static 'main/js/body.js' %}"></script>
<body id='bg' style="background-image: url({% static 'main/img/sublimats-VS.jpg' %});">
</body>

    <h1>Зачем нужно приветствие на сайте?</h1>
    <h4>Приветственное письмо – это первое обращение к аудитории, оно встречает «на входе». 
    Порой от приветствия зависит, пройдет ли человек дальше, купит ли товар или услугу. Приветственное слово на сайте выполняет следующие задачи:
        <ul>
            <li>сохранять лаконичность повествования;</li>
            <li>выдерживать минимальный объем;</li>
            <li>стимулировать к действию;</li>
            <li>выражать желание сотрудничать;</li>
            <li>сделать акцент на пользователе.</li>
        </ul>
    Обращение может быть статичным, располагаться в углу или по центру страницы. Популярностью пользуются всплывающие окна. 
    Текст должен быть обращен к целевой аудитории, особенно если настроено продвижение для получения тематического трафика.
    </h4> <!--Отображается корректно, только на главной странице-->
{% endblock %}