{% extends 'main/header_footer.html' %}

{% block content %}
<title>{% block title %}Приветствие{% endblock %}</title>
{% include 'main/menu.html' %} <!--Отображает параметры из menu.html и header_footer.html-->


{% load static %}
<html lang="ru">
<meta charset="UTF-8">
<!-- Метатег viewport, решающий проблему отображения текста -->
<!-- - с разной плотностью пикселей на разных устройствах -->
<!-- Параметр width=device-width приравнивает ширину вьюпорта к CSS-ширине устройства. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'main/css/body.css' %}">
<link rel="stylesheet" href="{% static 'main/css/privet.css' %}">
<link rel="shortcut icon" type="image/ico" href="{% static 'img/xmas_icon_260233.ico' %}">

<body id='bg' style="background-image: url({% static 'main/img/fon-tovars.jpeg' %})">


    <div class="privet-div-container">
        <!--Первая колонка-->
        <div class="privet-div-colums">
            <h1 class="privet-zagolovok-h1">СУБЛИМИРОВАННЫЕ ПРОДУКТЫ</h1>
            <h2 class="privet-podzagolovok-h2">БЫСТРО!</h2>
            <h2 class="privet-podzagolovok-h2">ВКУСНО!</h2>
            <h2 class="privet-podzagolovok-h2">ПОЛЕЗНО!</h2>
        </div>
        <!--Первая колонка - -END-->

        <!--Вторая колонка-->
        <div class="privet-div-colums">
            <!--Первый подблок сверху-->
            <div class="privet-div-item">
                <h2 class="privet-h2-item">
                    СУБЛИМИРОВАННЫЕ</h2>

                <p class="privet-item-opis-p">
                    1. Сохранили все питательные вещества и витамины<br>
                    2. Достаточно лишь залить водой и они вернут прежний вид: <br><b>- форму и вес</b><br>
                    3. Могут храниться 10-25 лет
                </p>
            </div>
            <!--Промежуток-->
            <p></p>
            <h1 class="privet-middle-h1">VS</h1>
            <p></p>
            <!--Второй подблок нижний-->
            <div class="privet-div-item">
                <h2 class="privet-h2-item">
                    ВЫСУШЕННЫЕ</h2>
                <p class="privet-item-opis-p">
                    1. Лишились большей части полезных веществ<br>
                    2. Уже никогда не станут прежними<br>
                    3. Быстро испортятся
                </p>

            </div>
        </div>
        <!--Вторая колонка - -END-->

        <!--Третья колонка-->
        <div class="privet-div-colums-3">
            <!--Ретрансляция текста-->
            {% include 'main/index.html' %}
        </div>
    </div>
</body>

{% endblock %}