{% extends 'main/header_footer.html' %}

{% block content %}
<title>{% block title %}Приветствие{% endblock %}</title>
{% include 'main/menu.html' %}  <!--Отображает параметры из menu.html и header_footer.html-->


{% load static %}
<html lang="ru">
    <meta charset="UTF-8">
<!-- Метатег viewport, решающий проблему отображения текста -->
<!-- - с разной плотностью пикселей на разных устройствах -->
<!-- Параметр width=device-width приравнивает ширину вьюпорта к CSS-ширине устройства. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'main/css/body.css' %}">
<link rel="shortcut icon" type="image/ico" href="{% static 'img/xmas_icon_260233.ico' %}"/>
<script src="{% static 'main/js/body.js' %}"></script>
<body id='bg' style="background-image: url({% static 'main/img/sublimats-VS.jpg' %});">
</body>
<label for="catalog">Главная</label>
<!--Кнопка с выпадающем меню-->
<select>
    {% for catalog in catalogs %}
        {% if catalog == 'Мясные' %}
            <option id="opt1" selected>{{catalog}}</option>
        {% else %}
            <option>{{catalog}}</option>
        {% endif %}
    {% endfor %}
</select>

    <h1>Зачем нужно приветствие на сайте?</h1>
    <h4>Приветственное письмо – это первое обращение к аудитории, оно встречает «на входе». 
    Порой от приветствия зависит, пройдет ли человек дальше, купит ли товар или услугу. Приветственное слово на сайте выполняет следующие задачи:
        <ul>
            <li>сохранять лаконичность повествования;</li>
            <li>выдерживать минимальный объем;</li>
            <li>стимулировать к действию;</li>
            <li>выражать желание сотрудничать;</li>
            <li>сделать акцент на пользователе.</li>
        </ul>
    Обращение может быть статичным, располагаться в углу или по центру страницы. Популярностью пользуются всплывающие окна. 
    Текст должен быть обращен к целевой аудитории, особенно если настроено продвижение для получения тематического трафика.
    </h4> <!--Отображается корректно, только на главной странице-->
    
    <div class="privet-container">
        <h2 class="privet-container2">ВЫСУШЕННЫЕ<br></h2>
        <h2 class="privet-container2">СУБЛИМИРОВАННЫЕ<br></h2>
    </div>
    <div class="privet-opis">
        <p class="privet-opis2">
            1. Лишились бОльшей части полезных веществ<br>
            2. Уже никогда не станут прежними<br>
            3. Быстро испортятся
        </p>
        <p class="privet-opis2">
            1. Сохранили все питательные вещества и витамины<br>
            2. достаточно лишь залить фодой и они вернут прежний вид: <br><b>- форму и вес</b><br>
            3. Могут храниться 10-25 лет
        </p>
    </div>
{% endblock %}