{% extends 'main/header_footer.html' %}

{% block content %}
{% include 'main/menu.html' %}  <!--Отображает параметры из menu.html и header_footer.html-->
<h3>Таблица</h3> <!--Отображается на всех страницах а должна только над таблицей-->
<table border="1">
    {% for товар in Товары %}
    <tr>
        <th><img width="200px" height="200px" src="/media/{{товар.picture}}"></th>
        <th>{{товар.namegood}}</th>
        <th>{{товар.content}}</th>
        <th>{{товар.specification}}</th>
        <th>{{товар.price}}</th>
        <th><input type="number"><input type="button" value="Добавить"></th>
    </tr>
    {% endfor %}
</table>
{% include 'main/cart.html' %}   <!--кнопка Заказать--> 
{% endblock %}