{% extends 'main/header_footer.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Товары{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/xmas_icon_260233.ico' %}">

<body id='bg' style="background-image: url({% static 'main/img/fon-tovars.jpeg' %})">
    <link rel="stylesheet" href="{% static 'main/css/menu_category.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/tovars.css' %}">
    <script src="{% static 'main/js/cart.js' %}"> </script>
    {% include 'main/menu.html' %} <!--Отображает параметры из menu.html и header_footer.html-->

    <!--Кнопка с выпадающем меню-->
    <form class="tovars-form-category" action="/shop/">
        {% csrf_token %}

        <select class="tovars-select-category" onchange="this.form.submit()" name="category">
            {% for slug in categories %}
            {% if slug.id == cat_selected %}
            <option class="menu-option-selected_slug" selected>{{slug}}</option>
            {% else %}
            <option class="menu-option-selected_slug">{{slug}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>
    <form class="tovars-form-karte" action="/cart/" method="post">
        {% csrf_token %}
        <!--Кнопка с выпадающем меню-->

        <table style="border-spacing: 8 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;">
            {% for товар in Товары %}
            <tr>

                <th style="font-weight: bold;
                padding: 5px;
                background: #f2f8f8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.8;"><img width="200px" height="200px"
                        src="/media/{{товар.picture}}">
                </th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.5;">{{товар.namegood}}</th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.5;">{{товар.content}}</th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.5;">{{товар.specification}}</th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.8;">{{товар.price}}</th>
                </th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.5;">{{товар.category}}</th>
                <th style="font-weight: bold;
                padding: 5px;
                background: #F2F8F8;
                border: none;
                border-bottom: 5px solid #F2F8F8; opacity: 0.8;"><input style="display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;" type="number" name="i{{товар.id}}" id="i{{товар.id}}" min="0" value="0"
                        onchange="add_to_cart(document.getElementById('i{{товар.id}}'))"><input
                        style="background-color: rgb(37, 231, 134);" type="button" value="В корзину"></th>
            </tr>
            {% endfor %}
        </table>
        <input style="background-color: rgb(37, 231, 134); padding: 25px; float: right;
        cursor: pointer;" type="submit" value="Заказать">
    </form>
    {% endblock %}